body{
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
}
.main{
    width: 100%;
}
.content#admin{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    position: relative;
}
#admintop{
    gap: 24px;
    position: sticky;
    height: 48px;
    padding: 6px 24px;
    box-shadow: none;
    background-color: transparent;
}
.sideadmin{
    position: sticky;
    margin: 0;
    padding: 8px 16px;
    width: fit-content;
    height: calc(100vh - 50px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    text-transform: initial;
    background-color: var(--c16);
}
.sideadmin li{
    list-style: none;
}
.sideadmin .menu-item{
    padding: 0;
    color: var(--c01);
}
.sideadmin .menu-item span{
    white-space: nowrap;
}
.sideadmin .menu-item.selected span:after{
    background-color: var(--c01);
}
.line-divider{
    width: 100%;
    color: var(--c20);
}
.compactcontrol{
    transition: all .2s;
}
.compactcontrol label{
    position: sticky;
    top: 0;
    padding: 16px 4px;
    line-height: 48px;
    border: solid 1px var(--c26);
}
.compactcontrol:hover{
    background-color: var(--t14);
}
.compactcontrol label i{
    transition: all .3s;
}
#compactsidemenu:checked ~ .compactcontrol label i{
    transform: rotateY(-180deg);
}
#compactsidemenu:checked ~ .sideadmin #logosmall{
    background-image: url('../images/tlogolight.png');
    width: 32px;
    height: 32px;
}
#compactsidemenu:checked ~ .sideadmin .menu-item{
    padding: 6px 0;
}
#compactsidemenu:checked ~ .sideadmin span{
    display: none;
}
#compactsidemenu:checked ~ .sideadmin i{
    font-size: 1.25em;
}
#logosmall{
    padding: 0;
    width: 202px;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('../images/ttypelight.png');
}
/* #logosmall{
    padding: 0;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    height: 64px;
    -webkit-mask-image: url('../images/ttype.png');
    mask-image: url('../images/ttype.png');
} */
#logosmall img{
    height: 64px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
}
