:root{
/* half opacity */
    --t01: #ffffff77;
    --t02: #ffffffE5;
    --t03: #665a52DD;
    --t04: #e9214a77;
    --t05: #032624DD;
    --t06: #ABDBFF77;
    --t07: #0a1b47BB;
    --t08: #4f3516BB;
    --t09: #ABFFBABC;
    --t10: #FFFFBABC;
    --t11: #FFBAABBC;
    --t12: #6A767FDD;
    --t13: #555555CC;
    --t14: #55555555;
/* solid */
    --c01: #ffffff; /*(белый) - основной фоновый цвет*/
    --c02: #000000; /*(черный) - основной цвет для текста и элементов интерфейса*/
    --c03: #322b26; 
    --c04: #014500; 
    --c05: #3f8246; 
    --c06: #00b8a9; 
    --c07: #374649; 
    --c08: #b9b3c2; 
    --c09: #fcbf49; 
    --c10: #2e86ab; 
    --c11: #f7cac9; 
    --c12: #6c7b95; 
    --c13: #f7d6e0; 
    --c14: #1b998b; 
    --c15: #8c4843; 
    --c16: #3a4f78;
    --c17: #93712f;
    --c18: #86B6FF; 
    --c19: #2b82d9; 
    --c20: #ABDBFF; 
    --c21: #f6f5f9;
    --c22: #f1e4f3;
    --c23: #c4d8e9;
    --c24: #dae9f5;
    --c25: #aaaaaa;
    --c26: #98a6be;
    --c27: #e1e7f1;
    --c28: #0f4b57;
}
