/*font-family: 'Alterna Titul 3D', sans-serif;*/
/*font-family: 'Rewinder Demi Shadow', sans-serif;*/
/*font-family: 'Signboard Caps', serif;*/
    /*font-family: 'Advent Pro', sans-serif;*/
/*font-family: 'Amatic SC', sans-serif;*/
/*font-family: 'Appetite New', serif;*/
/*font-family: 'Ariadna Script', cursive;*/
/*font-family: 'Arsenal', sans-serif;*/
/*font-family: 'Astro', sans-serif;*/
/*font-family: 'Bad Script', cursive;*/
/*font-family: 'Buyan', sans-serif;*/
/*font-family: 'Cancellarist', cursive;*/
/*font-family: 'Caveat', cursive;*/
    /*font-family: 'Cimero Pro', sans-serif;*/ 
/*font-family: 'Comfortaa', sans-serif;*/ 
/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'Dusha', sans-serif;*/ 
/*font-family: 'El Messiri', serif;*/
/*font-family: 'Fairy Muffin', sans-serif;*/ 
/*font-family: 'Favorit', cursive;*/
/*font-family: 'Fira Sans', sans-serif;*/ 
/*font-family: 'Forum', serif;*/
/*font-family: 'Gentium Plus', serif;*/
/*font-family: 'Heinrich Script', cursive;*/
/*font-family: 'Favorit', cursive;*/
/*font-family: 'Kablammo', cursive;*/
/*font-family: 'KB Year', sans-serif;*/ 
/*font-family: 'Kelly Slab', serif;*/ 
/*font-family: 'Marck Script', cursive;*/
/*font-family: 'Neucha', sans-serif;*/
/*font-family: 'Nunito Sans', sans-serif;*/
/*font-family: 'Oi', cursive;*/
/*font-family: 'Old Rosa', cursive;*/
/*font-family: 'Pacifico', cursive;*/
/*font-family: 'Pangolin', sans-serif;*/
/*font-family: 'Pero', cursive;*/
/*font-family: 'Poetica Romance', cursive;*/
/*font-family: 'Prospect', cursive;*/
/*font-family: 'PT Serif', serif;*/
/*font-family: 'Rubik Dirt', cursive;*/
/*font-family: 'Sofia Sans', sans-serif;*/
/*font-family: 'Songer', sans-serif;*/
/*font-family: 'Veronica Script', cursive;*/
/*font-family: 'Victorian Gothic', cursive;*/

*,:after,:before{box-sizing: border-box;}
.clearfix:after, .clearfix:before{
    content: ""; 
    display: table;
    clear: both;
}
.clearfix:after{
    clear: both;
    display: block;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'El Messiri', serif;
    font-size: 16px;
}
img{
    display: block;
}
.hidden{
    display: none;
}
.header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 918px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('../images/header_bg1.jpg');
}
.toscroll{
    position: absolute;
    bottom: 0;
    width: 140px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}
.toscroll.lines{
    bottom: initial;
    width: 100px;
    top: 4px;
    gap: 11px;
    align-items: center;
}
.flashdot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px rgba(255,255,255,0.1);
    background-color: rgba(255,255,0,0);
    animation: grow 5s ease-in-out infinite;
}
.line{
    width: 60%;
    height: 2px;
    border: solid 1px rgba(255,255,255,0.02);
    border-radius: 1px;
    animation: growline 5s ease-in-out infinite;
}
.searchblock{
    padding: 238px 0 60px;
    height: calc(100% - 200px);
    text-align: center;
}
.table{
    height: 130px;
}
.tableborder{
    cursor: pointer;
    position: relative;
    height: 70px;
    padding: 12px 128px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}
.arrow.big{
    position: relative;
    width: 100px;
    height: 16px;
    animation: ball 1s ease-in-out infinite;
}
.arrow::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    background: 
    linear-gradient(to top right,
    #aaaaaa00 0%,
    #aaaaaa00 calc(50% - 1.2px),
    #aaaaaaff 50%,
    #aaaaaa00 calc(50% + 1.2px),
    #aaaaaa00 100%);
}
.arrow::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: 
    linear-gradient(to top left,
    #aaaaaa00 0%,
    #aaaaaa00 calc(50% - 1.2px),
    #aaaaaaff 50%,
    #aaaaaa00 calc(50% + 1.2px),
    #aaaaaa00 100%);
}
.search-header{
    padding: 80px 0 16px;
    margin: 0 auto;
    line-height: 64px;
    font-size: 32px;
    font-weight: 700;
    color: var(--c15);
}
.search-holder{
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 76px;
    padding: 16px;
}
.search-box{
    padding: 0 20px;
    position: relative;
    background: var(--c01);
    border: medium none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    height: 44px;
    width: 100%;
    outline: medium none;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 432px;
    animation: blink .7s ease-in-out 5;
}
.big-errorheader{
    margin: 80px auto 0;
    max-width: 680px;
    font-family: 'Cimero Pro', sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 96px;
    color: var(--c15);
}
.errormessage{
    margin: 0 auto;
    padding: 0 32px;
    max-width: 680px;
    font-size: 20px;
    font-weight: 600;
    color: var(--c03);
}
.errorresolve{
    font-family: 'Advent Pro', sans-serif;
    font-style: italic;
}
.navigation{
    position: relative;
    padding: 6px 128px;
    width: 100%;
    background-color: var(--t01);
    color: var(--c28);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s;
}
.top{
    position: fixed;
    top: 0;
    height: 88px;
    -webkit-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    z-index: 5;
}
.scrolled{
    height: initial;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: var(--c01);
}
.scrolled #logotype{
    -webkit-mask-image: url('../images/ticoncolor.png');
    mask-image: url('../images/ticoncolor.png');
    height: 44px;
}
.scrolled #logotype img{
    height: 44px;
}
.part{
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: space-between; */
    position: relative;
}
.right{
    float: right;
}
.row{
    height: 48%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#logotype,
#biglogo{
    padding: 0;
    -webkit-mask-image: url('../images/ttype.png');
    mask-image: url('../images/ttype.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
}
#logotype{
    height: 70px;
}
#biglogo{
    height: 110px;
}
#logotype img,
#biglogo img{
    display: inline-block;
    position: relative;
    transition: all 0.3s;
}
#logotype img{
    height: 70px;
}
#biglogo img{
    height: 110px;
}
#logotype:before,
#biglogo:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255,176,39,0) 0%, rgba(255,223,155,0.7) 50%, rgba(255,176,39,0) 100%);
    transform: translateX(-80px) skewX(-45deg);
    z-index: 5;
}
#logotype:hover:before,
#biglogo:hover:before{
    animation: move-light .8s;
}

.button, .menu-item{
    display: flex;
    overflow: hidden;
    position: relative;
    user-select: none;
    align-items: center;
    text-decoration: none;
    line-height: 28px;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all 0.3s;
}
.button{
    gap: 10px;
    /* height: 100%; */
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: var(--c28);
    border: solid 2px var(--c28);
    border-radius: 8px;
}
.green{
    color: var(--c01);
    border-color: var(--c04);
    background-color: var(--c05);
    padding: 10px 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.button.green:hover{
    border-color: var(--c05);
}
.main-menu{
    width: 100%;
    padding: 0 32px;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu-holder{
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}
.menu-holder.floating{
    position: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: var(--t03);
    color: var(--c01);
    -webkit-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    z-index: 5;
}
.flex-horizontal{flex-direction: row;}
.flex-vertical{
    flex-direction: column;
    padding: 16px 0;
}
.menu-item{
    padding: 0 8px;
    color: var(--c28);
}
.row .menu-item:last-child{padding-right: 0;}
.menu-item span:after{
    content: "";
    position: relative;
    transform: translateY(-4px);
    display: none;
    margin: auto;
    height: 2px;
    width: 0;
    bottom: 0px;
    background: transparent;
    transition: all 0.3s;
}
.menu-item:hover, .button:hover{
    color: var(--c01);
    border-color: var(--c01);
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FF952D 0px 0px 20px, #FF952D 0px 0px 30px, #FF952D 0px 0px 40px;
}
.menu-item i{
    margin: 0 6px 6px;
    position: relative;
    top: 4px;
}
.menu-item.selected span:after{
    display: block;
    width: 100%;
    background-color: var(--c28);
    box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FF952D 0px 0px 20px, #FF952D 0px 0px 30px, #FF952D 0px 0px 40px;
}
#hamburger{
    padding: 0;
    display: none;
}
.content{
    font-family: 'Comfortaa', sans-serif;
    line-height: 130%;
}
.landing-row{
    position: relative;
    padding: 24px 128px;
    gap: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.landing-row.inline{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.landing-row .inline{
    padding: 0;
    width: 100%;
    gap: 16px;
}
.landing-row.dark{
    color: var(--c24);
    background-color: var(--c12);
}
.adv{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.plate{
    min-width: 165px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.horizontal{
    padding: 16px;
    flex-direction: row;
    justify-content: center;
}
.horizontal .plate-info{
    line-height: 64px;
}
.info-plate{
    border-radius: 20px;
    width: 50%;
    min-height: 400px;
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: 0px 0px 40px 0px rgba(73, 92, 126, 0.25) inset;
}
.w400{
    max-width: 400px;
}
.border{
    border: solid 1px var(--c24);
    border-radius: 12px;
    padding: 20px 16px;
    font-style: italic;
    text-align: center;
    width: 50%;
    gap: 20px;
}
.land-info{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}
.info-header{
    font-size: 40px;
    line-height: 100%;
}
.dark .info-header{
    color: var(--c01);
}
.center .info-header{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--c28);
}
.white{
    background-color: var(--t02);
}
.plate-icon{
    transition: all .2s;
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
}
.big{
    width: 118px;
    height: 118px;
    background-size: 118px 118px;
}
.plate-info{
    align-self: stretch;
    color: var(--c02);
    font-family: 'Cimero Pro', cursive;
    font-size: 20px;
    text-align: center;
}
.border i{
    font-size: 48px;
}
.h3{
    font-size: 20px;
}
.dark .info{
    color: var(--c21);
}
.additional{
    font-size: 10px;
    line-height: 140%;
    font-style: italic;
}
.center{
    text-align: center;
    align-items: center;
    gap: 48px;
}
.miniature{
    height: 150px;
}
.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.slideshow{
    display: inline-block;
    padding: 16px 0;
    animation: slide 40s linear infinite;
}
.slideshow img{
    display: inline-block;
    margin: 0 30px;
    box-shadow: 4px 4px 16px 0px var(--t05);
    transition: all .2s;
}
.slideshow img:hover{
    transform: scale(1.2);
}
.slider:hover .slideshow{
    animation-play-state: paused;
}

.bottom{
    color: var(--c24);
    flex-wrap: wrap;
    text-transform: initial;
    background-color: var(--c12);
    align-items: flex-start;
}
.bottom .menu-item{
    color: inherit;
    font-size: 14px;
}
.bottom .h3{
    color: var(--c20);
    padding: 12px 8px;
}
.bottom .part:not(.wide){
    width: 33%;
    justify-content: center;
}
.bottom .part:not(.wide) .menu-holder{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.part.left .menu-holder{
    align-items: flex-start;
}
.part.right .menu-holder{
    align-items: flex-end;
}

.bottom .part.wide{
    bottom: 0;
    padding-top: 4px;
    border-top: solid 1px var(--c20);
    width: 100%;
}

.bottom .part .menu-holder .menu-item{
    max-width: -webkit-fill-available;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.toast {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes flash {
      0% { box-shadow: none; }
      50% { box-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 3px, #FF952D 0px 0px 5px, #FF952D 0px 0px 10px, #FF952D 0px 0px 15px; }
      100% { box-shadow: none; }
  }
  
  @-webkit-keyframes flash {
      0% { box-shadow: none; }
      50% { box-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 3px, #FF952D 0px 0px 5px, #FF952D 0px 0px 10px, #FF952D 0px 0px 15px; }
      100% { box-shadow: none; }
  }
  
  @-webkit-keyframes move-light {
      from {transform: translateX(-80px) skewX(-45deg);}
      to {transform: translateX(360px) skewX(-45deg);}
  }
  
  @keyframes move-light{
      from {transform: translateX(-80px) skewX(-45deg);}
      to {transform: translateX(360px) skewX(-45deg);}
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes grow{
    0% , 84% , 100%{
        transform:scale(0.5);
        background-color: rgba(255,255,0,0);
        border-color: rgba(255,255,255,0.1);
        box-shadow: none;
    }
    92%{
        transform:scale(1);
        background-color: rgba(255,255,0,0.8);
        border-color: rgba(255,255,255,1);
        box-shadow: #FFF 0px 0px 4px, #FFF 0px 0px 8px, #FF952D 0px 0px 16px, #FF952D 0px 0px 20px, #FF952D 0px 0px 32px;
    }
}
@keyframes growline{
    0% , 84% , 100%{
        transform:scaleX(0.6);
        background-color: rgba(255,255,255,0);
        border-color: rgba(255,255,255,0.02);
        box-shadow: none;
    }
    92%{
        transform:scaleX(1);
        background-color: rgba(255,255,255,0.4);
        border-color: rgba(255,255,255,05);
        box-shadow: #ffffff88 0px 0px 1px, #ffffff88 0px 0px 2px, #ffc89188 0px 0px 4px, #ffc89188 0px 0px 5px, #ffc89188 0px 0px 8px;
    }
}
@keyframes ball{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}




/* 

.right-to-left{
    padding-top: 24px;
    width: 270px;
    top: 64px;
    right: 2px;
    transform-origin:right center;
    transform: scaleX(0);
    transition: all .3s;
}
.wide .menu-holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top .menu-holder .menu-item{
    color: var(--c03);
}
.menu-holder.floating .menu-item{
    padding: 4px 16px;
    width: 100%;
    color: var(--c01);
}
.menu-holder .menu-item span:after{
    bottom: -4px;
}
.avatar{
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    background: linear-gradient(310deg, var(--t02) 0%, var(--c04) 25%, var(--t02) 100%);
    border: solid 1px var(--c01);
    border-radius: 50%;
    transition: all 0.3s;
}
.avatar:hover{
    box-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 2px, #FF952D 0px 0px 4px, #FF952D 0px 0px 5px, #FF952D 0px 0px 8px;
}
.avatar img{
    width: 44px;
    height: 44px;
    margin: 2px 2px;
    border-radius: 50%;
}


.content{
    min-height: calc(100% - 195px);
    padding: 16px 64px;
    transition: all 0.3s;
}
.message-container{
    padding: 8px 0;
}
.message-container.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--t13);
    z-index: 10;
}
.message-container.popup{
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 240px;
    min-height: 160px;
    padding: 2px 2px;
    background-color: var(--t03);
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    z-index: 10;
}
.alert{
    position: relative;
    height: 40px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    white-space:nowrap;
}
.alert.popup{
    position: relative;
    width: 100%;
    min-height: 156px;
    height: 100%;
    padding: 24px 12px 8px;
    background-color: var(--c01);
    border: solid 1px var(--c27);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    white-space: normal;
    overflow-y: auto;
}
.alert.modal{
    position: relative;
    padding: 48px 24px 24px;
    width: 60%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--c01);
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    border-radius: 16px;
    font-size: 18px;
    white-space: normal;
}
.close-icon{
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 24px;
    color: var(--c15);
    cursor: pointer;
    transition: all .4s;
}
.close-icon.small{
    right: 8px;
    top: 0;
    font-size: 16px;
}
.close-icon:hover{
    transform: rotate(90deg);
    color: var(--c05);
}
.modal#error_text{
    display: block;
    padding: 8px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--t06);
}
marquee.alert{
    text-align: initial;
}
.alert.success{
    background-image: linear-gradient(90deg, #00000000 0%, var(--t09) 15%, var(--t09) 85%, #00000000 100%);
    color: var(--c03);
}
.alert.info{
    background-image: linear-gradient(90deg, #00000000 0%, var(--t10) 15%, var(--t10) 85%, #00000000 100%);
    color: var(--c03);
}
.alert.error{
    background-image: linear-gradient(90deg, #00000000 0%, var(--t11) 15%, var(--t11) 85%, #00000000 100%);
    color: var(--c03);
}
.infotext{
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: var(--c04);
}
.main{
    padding: 24px;
    background-color: var(--t01);
    border: solid 1px var(--c09);
    border-radius: 8px;
    -webkit-box-shadow: -2px 2px 8px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 2px 8px 1px rgba(0,0,0,0.2);
    box-shadow: -2px 2px 8px 1px rgba(0,0,0,0.2);
    font-family: 'El Messiri', sans-serif;
}
.divider{
    width: 100%;
    height: 2px;
}
.gold{
    margin-top: 16px;
    background: linear-gradient(to right, #ebd197, #b48811, #a2790d, #aa771c 65%, #ebd197, #b48811, #fbf5b7, #aa771c);
    -webkit-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
    box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
}
hr{
    width: 100%;
    opacity: 0.3;
    height: 2px;
}
.flash {
    -webkit-animation: flash 1.0s linear 5;
    -moz-animation: flash 1.0s linear 5;
    -ms-animation: flash 1.0s linear 5;
    -o-animation: flash 1.0s linear 5;
    animation: flash 1.0s linear 5;
}

#user{
    line-height: 56px;
    height: 56px;
}
 */
/*
.content-holder{
    padding-top: 130px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
}


.floating .menu-item:not(.hidden){
    display: flex;
    justify-content: space-around;
}
.hidden, .menu-holder.floating.hidden{
    display: none;
}
.fi, .fa-solid, .fa-brand, .fa-regular{
    margin: 0 4px;
}
.menu-holder.floating .menu-item{
    overflow: initial;
    width: 100%;
}
#author img{
    margin-top: -8px;
}
.close-icon{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    float: right;
    margin: 16px;
    font-size: 20px;
    color: var(--c05);
    cursor: pointer;
    transition: all 0.2s;
    z-index: 5;
}
.close-icon:hover{
    transform: rotate(90deg);
}
/*__________________*/
/* LOGIN / REGISTER */
/*
.roundlogo.small{
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: initial;
    right: 24px;
    transform: translateY(-50%);
}
/*__________*/
/* CONTACTS */
/*
.inner-menu{
    margin: 24px 0 32px;
    overflow-x: auto;
    background-image: linear-gradient(90deg, rgba(54,33,18,0) 0%, var(--t03) 10%, var(--t03) 90%, rgba(54,33,18,0) 100%);
}
.inner-menu .menu-holder{
    overflow: auto;
    text-align: center;
}
.inner-menu .menu-holder .menu-item{
    text-transform: capitalize;
    font-weight: 400;
}
.inner-menu .menu-holder .menu-item i{
    margin: 4px 6px;
}
.wrap2cols{
    position: relative;
    width: 100%;
    color: var(--c02);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap2cols div:not(.input-group){
    width: 48%;
    min-width: 500px;
}
.wrap2cols div h4,
.wrap2cols div p{
    margin: 6px 0;
}

/*______________*/
/* PROFILE PAGE */
/*
.profiledata{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 298px;
}
.card{
    position: relative;
    min-width: 250px;
    min-height: 400px;
    background-color: var(--c24);
    border-radius: 6px;
    font-family: 'Arsenal', sans-serif;
    -webkit-box-shadow: 4px 5px 12px -7px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 5px 12px -7px rgba(0,0,0,0.45);
    box-shadow: 4px 5px 12px -7px rgba(0,0,0,0.45);
}
.card:not(:last-child){
    margin-right: 16px;
    width: 250px;
}
.data{
    width: 100%;
    padding: 16px;
}
.detailrow{
    display: flex;
    padding: 4px 0;
}
.avatarholder{
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-bottom: 8px;
}
.bigavatar{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    background: linear-gradient(-5deg, var(--c24) 35%, var(--c26) 100%);
    border-radius: 6px;
    transition: all 0.3s;
}
.bigavatar img{
    position: relative;
    height: 250px;
    margin: 1px auto;
    border-radius: 6px;
}
.photoicon{
    color: var(--c01);
    background-color: var(--t03);
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 16px;
    right: 16px;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px var(--c01);
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    transition: all .2s;
}
.photoicon:hover{
    box-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 4px, #FF952D 0px 0px 8px, #FF952D 0px 0px 16px, #FF952D 0px 0px 24px;
}
.photoicon i{
    left: 50%;
    top: 50%;
}
.cardrow{
    font-size: 20px;
    margin-bottom: 18px;
    line-height: 32px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: var(--c16);
    border-bottom: solid 1px var(--c08);
}
.buttonblock{
    justify-content: flex-end;
}
.generalbtn{
    padding: 8px 16px;
    background-color: var(--c23);
    border-color: var(--c16);
    margin: 8px 4px 4px;
}
.button{
    padding: 12px 32px;
    font-size: 18px;
    border: 2px solid var(--c26);
    border-radius: 4px;
    background-color: var(--c18);
    color: var(--c16);
    font-weight: 600;
    margin-top: 16px;
    transition: 0.2s;
}
.button:not(.cancel-btn){
    margin-right: 4px;
}
.button:not(.disabled):hover{
    background-color: var(--c20);
    border-color: var(--c23);
}
.button.disabled{
    cursor: default;
    background-color: var(--c24);
    color: var(--c25);
}
.data .detail{
    position: relative;
    min-height: 90px;
    width: 100%;
    overflow: hidden;
    padding: 4px 16px;
    background-color: var(--c24);
}
.datacover, .detailbody, .dataheader{
    width: 100%;
    transition: all 0.2s;
    border-radius: 5px;
    overflow: hidden;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
}
.datacover{
    position: absolute;
    top: 45px;
    width: calc(100% - 32px);
    left: 16px;
    margin-right: 16px;
    max-height: 100vh;
    border: solid 1px var(--c26);
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: var(--c23);
    transform-origin: top center;
    transform: scaleY(1);
}
.dataheader{
    flex-wrap: nowrap;
    border: solid 1px var(--c26);
    border-radius: 8px 8px 0 0;
    background-color: var(--c23);
    color: var(--c03);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dataheader .titlespan{
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.dataheader label{
    cursor: pointer;
    color: var(--c19);
    transition: all 0.1s;
}
.dataheader label:hover{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FF952D 0px 0px 20px, #FF952D 0px 0px 30px, #FF952D 0px 0px 40px;
}
.detailbody{
    padding: 8px 16px;
    max-height: 100vh;
    border: solid 1px var(--c26);
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: var(--c01);
    flex-direction: column;
}
.detailrow{
    position: relative;
    display: flex;
    padding: 4px 0;
}
.detailrow span{
    flex-basis: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    align-self: center;
}
.detailcontrol{
    cursor: pointer;
}
.detailcontrol:hover{
    color: var(--c19);
}
.detailrow input[type=text],[type=date]{
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 4px;
    border-color: var(--c23);
}
.cb:checked ~ .datacover{
    padding: 0 16px;
    max-height: 0;
    transform: scaleY(0);
}
.cb:checked ~ .detailbody{
    padding: 8px 16px;
    max-height: 100vh;
    transform: scaleY(1);
}
.slider{
    position: relative;
    cursor: pointer;
    margin: 0 8px;
    width: 64px;
    height: 24px;
    border-radius: 12px;
    background-image: linear-gradient(90deg, var(--c19) 0%, var(--c11) 65%);
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}
.slider:hover{
    box-shadow: #FFF 0px 0px 1px, #FFFFFF77 0px 0px 2px, #FF952D77 0px 0px 4px, #FF952D77 0px 0px 5px, #FF952D77 0px 0px 6px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
.slcontrol:checked + .slider:before{
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/*________________*/
/* MAIN WORKPLACE */
/*
.main-header{
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primarybg);
}
.admin-container{
    display: flex;
    padding: 16px 0;
}
.tasklist{
    background-color: var(--workbg);
    width: 350px;
    border-radius: 4px;
}
.tasklist .menu-holder .menu-item{
    text-transform: uppercase;
    color: var(--linkdark);
}
.tasklist .menu-holder .menu-item.selected{
    background-color: var(--c07);
}
.tasklist .menu-holder .menu-item:hover{
    background-color: var(--c11);
}
.workspace{
    margin-left: 24px;
    width: 100%;
    border: solid 1px var(--dropdown);
    border-radius: 4px;
}
.navigation.work{
    background-color: var(--dropdown);
    font-size: 11px;
    padding: 0 16px;
}
.navigation.work .menu-holder .menu-item{
    padding: 0;
}


*/
