/*////////// MEDIA QUERIES //////////*/

@media screen and (max-width: 1120px){
    .navigation{
        padding: 6px 24px;
    }
    .landing-row{
        padding: 24px;
    }
    .top{
        height: initial;
    }
    .hide_1050{
        display: none;
    }
    #logotype{
        -webkit-mask-image: url('../images/ticoncolor.png');
        mask-image: url('../images/ticoncolor.png');
        height: 44px;
    }
    #logotype img{
        height: 44px;
    }
    .w400 .plate-icon.big{
        background-size: 64px 64px;
        width: 64px;
        height: 64px;
    }
    .plate-info{
        font-size: 16px;
    }
    .info-plate{
        width: 100%;
        min-height: 250px;
    }
}
@media screen and (max-width: 800px){
    #logotype img{
        /* visibility: hidden; */
        display: none;
    }
    #hamburger{
        display: inline-flex;
    }
    #hamburger ~ .menu-holder{
        position: fixed;
        top: 56px;
        left: 0;
        align-items: flex-start;
        height: 100px; 
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        padding: 8px 24px;
        overflow: auto;
        background-color: var(--t01);
        -webkit-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 3px 12px 6px rgba(0,0,0,0.4);
        z-index: 3;
    }
    .main-menu{
        padding-left: 0;
    }
    .landing-row:not(.inline){
        flex-direction: column;
    }
    .button.green{align-self: center;}
}
    /*
@media screen and (max-width: 1050px){
    .profiledata{
        flex-direction: column;
    }
    .card{
        width: 100%;
        margin: 0;
    }
    .card.info{
        margin-bottom: 16px;
    }
    .avatarholder{
        width: 250px;
    }
    .card.info{
        width: 100%;
        display: flex;
        min-height: 250px;
        height: 250px;
    }
    .detail{
        width: 100%;
        padding: 0 8px;
    }
    .cardrow{
        text-align: left;
        margin-top: 16px;
        padding: 0 16px;
    }
}

@media screen and (max-width: 800px){
    .content{
        min-height: calc(100% - 299px);
    }
    .bottom .part:not(.wide){
        width: 100%;
        justify-content: center;
    }
    .bottom .part.left .menu-holder,
    .bottom .part.right .menu-holder{
        align-items: center;
    }
    .content-holder{
        padding-top: 130px;
    }
    .content{
        padding: 16px 24px;
    }
    .navigation{
        padding: 0 24px;
    }
    .main-menu{
        padding-top: 4px;
    }
    .card.info{
        width: 250px;
        margin: 0 auto 16px auto;
        display: flex;
        flex-direction: column;
        min-height: 250px;
        height: initial;
    }
    .cardrow{
        margin-top: 0;
        text-align: center;
    }
}

@media screen and (max-width: 720px){
    .main-menu .part.left{
    }
    .roundlogo{
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 670px){
    .navigation{
        padding: 0 4px;
    }
    .main-menu{
        padding-top: 4px;
    }
    .mid{
        display: none;
    }
    .menu-item{
        padding: 0 4px;
    }
    .part.left, .part.right{
        padding: 0;
    }
    .content{
        padding: 16px 8px;
    }
    .dataheader .titlespan{
        text-transform: capitalize;
        font-size: 16px;
    }
    .dataheader label span{
        display: none;
    }
}
*/